@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.alinhamentoadm {
  display: flex;
  justify-content: space-between;
  flex-direction: row
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 16px;
  background: #00111A;
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
}

footer{
  position: fixed;
  z-index: 1;
  top: 98%;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 16px;
  background: #00111A;
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
  font-family: Poppins;
}

.alinhamentoimgadm img {
  width: 10rem;
  padding: 10px;
  margin-top: 10px;

}

.inpadm input {
  padding: 14px 14px;
  width: 510px;
  border: none;
  background-color: #0D1D25;
  color: #7C7C8A;
  border-radius: 5px;
  margin-top: 12px;
  font-family: Poppins;
}


.btnadm {
  margin-top: 24px;
}

.btnadm a {
  width: 216px;
  margin-left: 10px;
  padding: 13px 32px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #750310;
  font-family: Poppins;
  text-decoration: none;

}

.alinadm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alinadm img {
  padding: 10px;
  margin: 5px;
  margin-bottom: 30px;
}

.alinadm p {
  margin: 5px;
  color: #4D585E;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;

}

.alinsadm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alinsadm p {
  color: #FFFAF1;
  margin-right: 30px;
  margin-bottom: 30px;
}


.alingcontaineradm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.aladm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.aladm h2 {
  margin-top: -280px;
  margin-left: 380px;
  font-family: Poppins;
  font-size: 40px;
  color: #E1E1E6;

}

.aladm p {
  margin-top: -200px;
  margin-left: 450px;
  font-family: Poppins;
  color: #E1E1E6;
}

.containerblockadm {
  height: 35vh;
  width: calc(100% - 1px);
  max-width: 75vw;
  background: var(--gradients-200, linear-gradient(180deg, #091E26 0%, #00131C 100%));
  margin-top: 220px;
  border-radius: 5px;
}

.containerblockadm img {
  width: 51%;
  margin-top: -87px;
  margin-left: -70px;

}


/* Cads */
.alingcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.cards {
  background: #00070A;
  border: 1px solid #000204;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
}


.conteudocard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}



.conteudocard h3 {
  font-family: Poppins;
  font-size: 24px;
  color: #E1E1E6;
}

.conteudocard p{
  color: #C4C4CC;
  font-family: Poppins;
  font-size: 14px;
  text-align: center;
  
}


.conteudocard h1{
  color: #82F3FF ;
  font-family: 'Roboto', sans-serif;  
}

.iconcard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}


/* fim Cads */

@media screen and (max-width: 1300px) {
  .alin p {
    margin-top: -10px;
  }

  .alin img {
    margin-top: -10px;
  }

  .alins p {
    margin-top: -20px;
  }

}