@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


.alings{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}


.alingimga img{
    margin: 10px;
    padding: 10px;  
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;
  }

  .alings{
    height: 100svh;
  }
  
  .form{
    background: var(--dark-dark-700, #001119);
    padding:64px;
    width: calc(100% - 10px);
    max-width: 350px;
    height: 470px;
    border-radius: 10px;
    margin-right:50px;
  }

  .texformatst{
    font-family: 'Alata', sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--light-light-100, #FFF);
  }

  .faixas{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin-top: 40px;
  }

  .btnfaixas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inpfaixas {
    padding: 12px 14px;
    margin-top: 10px; 
    width:90% ;
    border: none;
    background-color:#0D1D25;
    color: #7C7C8A;
    border-radius: 3px;

  }


  .btnfaixas button{
    width:355px;
    height: auto;
    border: none;
    margin-top: 20px;
    padding: 12px 32px;
    border-radius: 5px;
    background-color: #750310;
    color: #fff;
    font-family: 'Alata', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    
  }


  .texfaixas{
    color: #FFF;
  }

  .alingtextst{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .alingtextst p{
    margin-top: 10px;
    color: #FFF;
  }

  .alingtextst a{
    text-decoration: none;
  }

  .alingtextst p:hover{
    color: #ff0522;
    transition: all 1s;
  }

  @media screen and (max-width: 880px){
    .aling{
      flex-direction: column;
    }
  }

 
