@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
.aling{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-top: -15%;
}


.alingimg img{
    margin: 10px;
    padding: 10px;
    margin-top:22%;
    margin-left: 154px;
  }

  
  .forms{
    background: var(--dark-dark-700, #001119);
    padding: 10px;
    width: calc(100% - 10px);
    max-width: 350px;
    height: 470px;
    border-radius: 10px;
    margin-right:50px;
  }

  .texformats{
    color: var(--light-light-100, #FFF);
   font-family: 'Poppins', sans-serif;
   text-align: center;
  }

  .faixa{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin-top: 40px;
  }

  .btnfaixa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inpfaixa{
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px; 
    width: 300px;
    background-color:#0D1D25;
    color: #7C7C8A;
    border-radius: 3px;

  }

  .btnfaixa button{
    width:332px;
    height: 30px;
    margin-top: 30px;
    padding:10px;
    background-color: #750310;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
  }


  .texfaixa{
    color: #FFF;
  }

  @media screen and (max-width: 1300px), (min-width:0px) {
      .aling{
        margin-top: -22%;
      }
  }

  @media screen and (max-width:921px) {
    .alingimg{
     
    }
  }